<div class="header">
  <div class="logo">
    <img
      src="/img/CrescentLogo.jpeg"
      alt="Crescent Logo"
      style="width: 30px; height: 30px"
    />
    <p>
      Crescent University <br />
      Abeokuta (CUAB)
    </p>
  </div>
  <div>
    <H3>Welcome Back Admin</H3>
  </div>
  <div class="menu-icon">
    <a href="/logout"
      ><input
        type="submit"
        value="Logout"
        style="
          padding: 0.5rem;
          background-color: red;
          border: none;
          cursor: pointer;
          border-radius: 0.5rem;
          color: white;
        "
    /></a>
  </div>
</div>
