<nav>
  <ul class="side-bar">
    <li>
      <a href="/dashboard"> <i class="fa fa-dashboard"></i>Dashboard</a>
    </li>
    <li>
      <a href="/student-manager"> <i class="fa fa-user"></i>Student Manager</a>
    </li>
    <li>
      <a href="/coursemanager"><i class="fa fa-file"></i>Course Manager</a>
    </li>
    <li>
      <a href="/course-registration"
        ><i class="fa fa-cube"></i>Course Registration</a
      >
    </li>
  </ul>
</nav>
