<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/CrescentLogo.jpeg" alt="Crescent Logo" width="50px" height="50px">
            <p>Crescent University <br> Abeokuta (CUAB)</p>
        </div>
        <div>
            <H3>Welcome Back Admin</H3>
        </div>
        <div>
            <p>Menu Icon</p>
        </div>
    </header>
    <nav>
        <ul class="nav-bar">
            <li> <a href="#">Student Manager</a></li>
            <li><a href="#">Course Manager</a></li>
            <li><a href="#">Course Registration</a></li>
        </ul>
    </nav>
</body>
</html>