header{
    display: flex;
    width: auto;
    justify-content: space-evenly;
}
img{
    width: 100px;
    height: 100px;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.header-text, .body-heading{
    line-height: 0.5px;
    text-align: center;
}
.body-heading{
    padding: 20px 0px 0px;
}
.body-heading p{
    font-size: small;
}
.table-1, .table-2{
    text-align: left;
}
table{
    width: 100%;
    font-size: small;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
h5{
    text-align: center;
    font-size: small;
    margin-bottom: 5px;
}
.unit{
    margin-left: 120px;
}
/* .footer-1, .footer-2, .footer-3{
    
} */
.signature{
    margin: 100px 0px 40px 100px;
}
.office-use{
    margin-left: 120px;
}
.dynamic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 720px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}
