/* Dev Lateef */
.container{
    border-radius: 2rem;
    padding: 1rem;
}
.search-content input{
    width: 23%;
    height: 40px;
    padding: 1rem;
}
.btn-group{
    margin-top: 1rem;
}
.btn-group .code-btn, .btn-group .fetch-btn{
    padding: .5rem;
    cursor: pointer;
};

.table {
    width: 90%;
    margin: 2rem auto 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    margin-top: 4rem;
}
th,
td {
    border: 1px solid black;
    padding: 2px 5px;
}