.hide {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  margin-top: 4rem;
}
th,
td {
  border: 1px solid black;
  padding: 2px 5px;
}
.serial-no {
  width: 40px;
}
.matric-no {
  width: 100px;
}
.matric-no + th {
  width: 400px;
}
.matric-no + th + th {
  width: 300px;
}
.container{
  padding: 4rem 0;
}
.displayCourse{
margin-bottom: 1.5rem;
}
.displayCourse span{
  background-color: #CCC;
  padding: .3rem .8rem;
  border-radius: 30px;
}
a{
  all: unset;
}
button{
  background-color: #0275d8;
  color: #FFF;
  border: none;
  padding: .4rem 1rem;
  border-radius: 25px;
  /* font-size: 1rem; */
  font-weight: bold;
  cursor: pointer;
}
button.danger{
  background-color: #d9534f;
}
