.container{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
}
.center{
    text-align: center;
    margin: 0 auto;
}
form{
    height: 250px;
}

